body {
  background: black;
}

circle {
  animation: wibble .880s linear infinite alternate;
  transition: all .440s ease;
  transform-origin: center;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(255,0,0,1));      
    filter: drop-shadow(12px 12px 7px rgba(255,0,0,1)); 
}

#container {
  display: flex;
  justify-content: center;
  height: 660px;
  align-items: center;
}

@keyframes wibble {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(.9);
  }
}
