body {
  background: black;
  margin: 0;
}

circle {
  animation: wibble 0.88s linear infinite alternate;
  transition: all 0.44s ease;
  transform-origin: center;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(255, 0, 0, 1));
  filter: drop-shadow(12px 12px 7px rgba(255, 0, 0, 1));
}

#container {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  transition: transform 0.67s cubic-bezier(0.77, 0, 0.175, 1);
}

@keyframes wibble {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
